.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: transparent;
    position: relative;
    transform: translateY(-10%);
    width:100%;
}

.card-img-top {
    width:1265px;
}
 
/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 10px 18px 0 rgba(0,0,0,0.3);
}

 
.card-body {
    position: absolute;
    bottom: 300px;
    right:50px;
    color: white;
    padding-left: 20px;
    padding-right: 20px; 
    background-color: transparent;  
}

.card-body h1 {
    font-style: italic;
    font-family: 'Playfair';
    font-size: 300%;
}

.card2 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: transparent;
    position: relative;
    transform: translateY(-10%);
    z-index: 1;
    height: fit-content;
}
 
/* On mouse-over, add a deeper shadow */
.card2:hover {
    box-shadow: 0 10px 18px 0 rgba(0,0,0,0.3);
}

 
.card-body2{
    position: relative;
    bottom: 200px;
    right:20px;
    color: white;
    padding-left: 20px;
    padding-right: 20px; 
    background-color: transparent;  
}

.card-title2 {
    font-style: italic;
    font-family: 'Playfair';
    font-size: 300%;
    z-index: 3;
}

.card-img-top2 {
    width: 1265px;
    height: auto;
}


.bookedFlightsLogIn {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 0px;
    background-color: rgb(235, 231, 231);
    margin-left: 35rem;
    margin-top: 20rem;
}

.bookedFlightsCar-title {
    text-align: center;
    font-size: 200%;
}

.bookedFlightsCard-body {
    display: flex;
    justify-content: space-between;

}

.findFlightsCard {
    transition: 0.3s;
    border-radius: 0px;
    background-color: rgba(228, 228, 228, 0.021);
    width:50%;
    align-items: center;
    align-self: center;
    margin-left: 25%;
    transform: translateY(-90%);
    z-index: 100;
    position: absolute;
}

.findFlightsCard:hover {
    box-shadow: 0 10px 18px 0 rgba(0,0,0,0.3);
    background-color: rgb(207, 166, 178);
}

.findFlightsCar-title {
    text-align: center;
    font-size: 250%;
    padding:2rem;
    color: white;
    font-family: 'Playfair';
}

.findFlightsCard {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    align-items: center;
    flex-direction: column;
    font-family: 'Playfair';
    overflow: hidden;
}

.findFlightsCard form {
    position: relative;
    height: 50px;
    background: rgba(240, 248, 255, 0);
    color: rgb(99, 96, 96);
    overflow: hidden;
}

.findFlightsCard form input {
    width: 100%;
    height: 100%;
    padding-top:10px;
    background-color: transparent;
    border: none;
    outline: none;
    overflow: hidden;
}


.findFlightsCard form label {
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height:100%;
    pointer-events: none;
    border-bottom: 1px solid rgb(99, 96, 96);
    overflow: hidden;

}

.findFlightsCard form label::after {
    content: "";
    position: fixed;
    left: 0px;
    bottom: -3px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid rgb(255, 255, 255);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    overflow-y: hidden;
}

.content-destination {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}

.findFlightsCard form input:focus + .label-destination .content-destination,
.findFlightsCard form input:valid + .label-destination .content-destination {
    transform: translateY(-100%);
    font-size: 14px;
    color:rgb(255, 255, 255);
}

.findFlightsCard form input:focus + .label-destination::after,
.findFlightsCard form input:valid + .label-destination::after {
    transform: translateX(0%);
}


.destinationCard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 0px;
    background-color: whitesmoke;
    margin: 3rem;
}

.destinationCardImage {
    width: 700px;
    height: auto;
}

.destinationCardImage {
    width: 700px;
    height: auto;
}

.destination-card-img {
    width: 700px;
    height:318px;
}
.peopleInfo {
    width: 500px;
    padding: 10px;
}

.peopleCard {
    display:flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 0px;
    background-color: whitesmoke;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
