.viewDestinationsBody {
    display:flex;
    flex-direction: row;
    justify-content:space-around;
}

/* .viewDestinationsBodyLeft {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.viewDestinationsBodyRight {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
} */
